.input:nth-child(even){
	color: red; /* This will change the color of the text */
}
.radio-container:nth-of-type(even) {
    color: red; /* This will change the color of the text */
}


h6:nth-child(even){
	color: red; /* This will change the color of the text */
}

